* {
  font-family: "Dosis", sans-serif;
}

body {
  background-color: white;
}

.title {
  font-weight: 900;
  color: #f8f8f8;
  font-size: 5rem;
}

.w20{
  width: 20em;
}

.bg-aqua{
  color: #02ffb3;
}

.fs-5{
  font-size: 4em;
}

.subtitle {
  color: #fffefe;
  font-size: 2rem;
  font-weight: 500;
}

#map {
  height: 100vh;
  width: 100%;
  border-radius: 0.3rem;
}

.btn-aqua {
  background: transparent;
  font-weight: 700;
  border: 2px solid white;
  color: white;
  transition: 1s;
}

.btn-aqua:hover{
  background-color: #02ffb3;
  border: 2px solid #02ffb3;
  color: black;
  font-weight: 900;
}

.opacity {
  background: rgba(0, 0, 0, 0.8);
  height: inherit;
  width: 100%;
}

.port {
  background: url("../assets/images/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.h100 {
  height: 100vh;
}

.font-si-2{
font-size: 2em;
}

.white{
color: white;
}

.w40{
  width: 200px;
}

.line:after,
.line:before {
    content: '';
    width: 45%;
    height: 1px;
    background-color: white;
    display: inline-block;
}